@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = ": Online Shopping for Nothing";
}
<br />
<div class="row">
    <div class="col-md-12 img-responsive">
        <img id="sherlock" src="~/images/sherlock.png" height="300" />
    </div>
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">

            <div>
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img src="@item.ImageSrc" width="260" height="260" />
                    <div>@item.Title</div>
                </a>
                <div>@item.Price</div>
                <br />
                <br />
            </div>
        </div>
    }
</div>
